<nav class="navbar navbar-expand navbar-dark bg-primary mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-light mr-2" href="/listas">Listas</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="/listas/sair">Sair</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>Tarefas:</h3>                
            </div>
            {{#each tarefas}}
                <div class="card mx-auto pt-2 mt-1" style="width: 21rem;">
                    <div class="card-body">
                        {{#if concluido}}
                            <h5 class="card-title text-success"><del>{{this.nomeTarefa}}</del></h5>
                        {{else}}
                            <h5 class="card-title">{{this.nomeTarefa}}</h5>
                        {{/if}}
                        <form class="d-inline-flex" action="/tarefas/removerTarefa/{{idLista}}" method="POST">
                            <input type="hidden" name="idTarefa" value="{{this._id}}">
                            <button class="btn btn-danger">Remover</button>
                        </form>

                        <form class="d-inline-flex" action="/tarefas/concluirTarefa/{{idLista}}">
                            <input type="hidden" name="idTarefa" value="{{this._id}}">
                            <button class="btn btn-success">Concluir</button>
                        </form>

                        <form class="d-inline-flex" action="/tarefas/desmarcarTarefa/{{idLista}}">
                            <input type="hidden" name="idTarefa" value="{{this._id}}">
                            <button class="btn btn-warning text-light">Desmarcar</button>
                        </form>

                        <form class="mt-2" action="/tarefas/editarTarefa/{{idLista}}">
                            <input type="hidden" name="idTarefa" value="{{this._id}}">
                            <input type="text" name="nomeTarefa" style="width: 13.7em;">
                            <button class="btn btn-secondary">Editar</button>
                        </form>
                       
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-md-6">
            <div>
                <form class="mx-auto pt-4" action="/tarefas/criarTarefa/{{idLista}}" method="POST" style="width: 18rem;">
                    <h5>Criar tarefa</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nomeTarefa" placeholder="Tarefa">
                    </div>
                    <button type="submit" class="btn btn-primary">Criar tarefa</button>
                </form>
            </div>
        </div>
    </div>
</div>